body {
    margin: 0;
    padding: 0;
    background-image: url("./storage/levels/1-1/1-1bg_pattern.JPG");

    background-repeat: repeat;
    /*background-image: url("storage/levels/1-1/Spiral.jpg");
    background-size: 800px 600px;*/

}

/*
.container {
    position: absolute;
    width: 800px;
    height: 600px;
    margin: 200px auto 0;

}*/
